/guia7poo/extraguia7ejercicio3/nbproject/private/
/guia7poo/extraguia7ejercicio3/build/
/guia7poo/extraguia7ejercicio4/nbproject/private/
/guia7poo/extraguia7ejercicio4/build/
/guia7poo/extraguia7ejercicio5/nbproject/private/
/guia7poo/extraguia7ejercicio5/build/
/guia7poo/extraguia7ejercicio6/nbproject/private/
/guia7poo/extraguia7ejercicio6/build/
/guia7poo/ejercicio1guia8/nbproject/private/
/guia7poo/ejercicio1-guia8/nbproject/private/
/guia7poo/guia8ejercicio1/nbproject/private/
/guia7poo/guia8ejercicio1/build/
/guia7poo/guia8ejercicio2/nbproject/private/
/guia7poo/guia8ejercicio2/build/
/guia8servicios/guia8ejercicio3/nbproject/private/
/guia8servicios/guia8ejercicio3/build/